.profile-circle-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 75px;
}

.profile-circle-img-div {
  /* width: 55px;
  height: 55px; */
  border: 1px solid lightgray;
  border-radius: 100%;
}

.profile-circle-name-div{
  width: 60px;
  height: 20px;
  text-align: center;
}

.profile-circle-name-span {
  font-size: 12px;
  font-weight: bold;
}