.post-profile-container-div {
  width: 90px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 23px;
  padding-left: 1px;
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.post-profile-bottom-div {
  width: 85px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-profile-bottom-div-right-div {
  margin-top: 20px;
  height: 30px;
  background-color: rgb(253, 245, 169);
  width: 30px;
  border: 1px solid gainsboro;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-profile-bottom-div-right-div-icon {
  width: 19px;
  height: 19px;
  margin-top: 3px;
  margin-left: 5px;
}