.nav-container-div{
  /* background-color: rgb(187, 185, 182); */
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 70px;
  /* border: 1px solid black; */
  /* border-top-left-radius: 40px;
  border-top-right-radius: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-left-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.nav-right-div {
  display: flex;
}

.nav-right-div-left {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
  margin-right: 7px;
}

.nav-right-div-middle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
  margin-right: 10px;
}

.nav-right-div-right {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
}