.post-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.post-top-div {
  width: 400px;
  height: 150px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.post-bottom-div {
  width: 400px;
  height: 480px;
  /* border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; */
}

.post-top-div-top-div {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-top-div-bottom-div {
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post-create-button-div {
  width: 73px;
  height: 73px;
  border-radius: 100%;
}