.post-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-top-div {
  width: 400px;
  height: 150px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.post-bottom-div {
  width: 400px;
  height: 480px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.post-top-div-top-div {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-top-div-bottom-div {
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post-create-button-div {
  width: 73px;
  height: 73px;
  border-radius: 100%;
}

.post-nav-container-div{
  /* background-color: rgb(187, 185, 182); */
  background-color: rgb(255, 255, 255);
  width: 400px;
  /* height: 70px; */
  height: 70px;
  border: 1px solid black;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.post-nav-left-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.post-nav-right-div {
  display: flex;
}

.post-nav-right-div-left {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
  margin-right: 7px;
}

.post-nav-right-div-middle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
  margin-right: 10px;
}

.post-nav-right-div-right {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
}