.profile-container-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-top-div{
  width: 400px;
  /* height: 260px; */
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-top-div-top-div{
  width: 400px;
  height: 90px;
}

.profile-top-div-top-img {
  width: 400px;
  z-index: 1;
  height: 150px;
}

.profile-top-div-middle-div {
  position: absolute;
  top: 28%;
  bottom: 40%;
  left: 12%;
  z-index: 10;
  width: 60px;
  height: 60px;
}

.profile-top-div-bottom-div{
  width: 400px;
  height: 140px;
  z-index: 10;
  /* background-color: rgb(240, 240, 240); */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.profile-top-div-bottom-div-top-div{
  width: 400px;
  height: 60px;
  display: flex;
  /* justify-content: end; */
  align-items: center;
}

.profile-top-div-bottom-div-middle-div{
  width: 350px;
  height: 50px;
  margin-top: 5px;
}

.profile-top-div-bottom-div-middle-span{
  font-size: 15px;
  word-break: keep-all;
}

.profile-top-div-bottom-div-bottom-div{
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-top-div-bottom-div-bottom-span {
  font-size: 15px;
}

.profile-nav-div{
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 2px double lightgray;
}

.profile-nav-div-line-div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-nav-div-line {
  width: 40px;
  height: 40px;
}

.profile-nav-div-img-div{
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.profile-nav-div-img{
  width: 40px;
  height: 40px;
}

.profile-bottom-div{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(252, 226, 1); */
  background-image: repeating-radial-gradient(circle, 
  rgb(253, 255, 117), rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%
  );
  background-size: 10px 10px;
  line-height: 1.618em;
}

.profile-top-div-bottom-div-top-div-button {
  height: 35px;
  border: 0px;
  background-color: rgb(253, 245, 169);
  border-radius: 5px;
  color:  black;
  position: absolute;
  left: 73%;
}

.profile-top-div-bottom-div-top-div-span {
  margin-left: 155px;
  font-size: 20px;
}

.profile-top-div-bottom-div-top-div-container {
  position: absolute;
  left: 88%;
  height: 35px;
  width: 35px;
  border: 0px;
  background-color: rgb(253, 245, 169);
  border-radius: 5px;
}

.profile-top-div-bottom-div-top-div-img {
  margin-left: 8px;
  margin-top: 8px;
}