.walk-container-div {
  width: 400px;
  height: 660px;
  position: relative;
}

.walk-page-map-div {
  width: 400px;
  height: 660px;
  z-index: 1;
  background-image: url("../../assets/example/testMap.PNG");
}

.walk-calender-div {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 7%;
  right: -1%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgb(253, 245, 169);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid gainsboro;
}

/* .walk-calender-img {
  width: 50px;
  height: 50px;
} */

.walk-start-button-div {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100px;
  height: 100px;
  /* border-radius: 100%; */
}

.walk-start-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-weight: bold;
  background-color: rgb(253, 245, 169);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid gainsboro;
  font-size: 20px;
}

.walk-calender-div-top-div {
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
  height: 10px;
}

.walk-calender-div-middle-div {
  margin-left: 13px;
  width: 50%;
  border-bottom: 1px solid black;
}

.walk-calender-div-bottom-div {
  font-size: 25px;
  font-weight: bold;
}
