.comment-container-div {
  display: flex;
}

.comment-container-div-left-div {
  margin-left: 10px;
  width: 80px;
  font-size: 15px;
}

.comment-container-div-right-div {
  width: 200px;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 600;
}