.follow-button-div {
  margin-top: 20px;
  background-color: rgb(253, 245, 169);
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.follow-button-span {
  font-size: 15px;
  color: black;
}