.hashtag-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(180, 180, 180);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 20px;
  margin-top: 5px;
  /* margin: 5px; */
  height: 20px;
  padding: 6px;
  margin-right: 5px;
}

.hashtag-button-span {
  color: white;
  font-size: 13px;
}