.profile-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 400px;
}

.profile-post-frame-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
}