.profile-circle-container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 100px;
}

.profile-circle-img-div {
  width: 70px;
  height: 70px;
  border: 1px solid lightgray;
  border-radius: 100%;
}

.profile-circle-name-div{
  width: 80px;
  height: 30px;
  text-align: center;
}