.search-post-detail-container {
  width: 320px;
  height: 150px;
  background-color: #eaeaea;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-post-detail-left-div {
  width: 90px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-post-detail-right-div {
  width: 230px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-post-detail-right-top-div {
  width: 230px;
  height: 120px;
  z-index: 1;
  background-color: #a19f9f2c;
  border-radius: 10px;
  display: flex;
}

.search-post-detail-right-top-img-div {
  width: 200px;
  height: 120px;
  position: relative;
}

.search-post-detail-right-top-img {
  width: fit-content;
  height: 110px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-post-detail-right-top-icon-div {
  width: 30px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
  margin-right: 5px;
}

.search-post-detail-right-top-icon {
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.search-post-detail-right-bottom-div {
  width: 230px;
  height: 30px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.search-post-detail-right-bottom-left-div {
  width: 180px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.search-post-detail-right-bottom-left-span {
  font-weight: bold;
  font-size: 15px;
}

.search-post-detail-right-bottom-right-div {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.search-post-detail-right-bottom-right-span {
  font-size: 8px;
}