.start-button{
    position: absolute;
    bottom: 10%;
    left: 20%;
    z-index: 1;
}
.reset-button{
    position: absolute;
    bottom: 10%;
    left: 30%;
    z-index: 1;
}
.save-button{
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 1;
}
.time-page{
    width:300px;
    height: 200px;
    background-color: red;
    font-size: 100px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    z-index: 1;
}
.control{
    position: absolute;
    bottom: 30%;
    left: 50%;
    z-index: 1;
}