.body-container-div {
  width: 400px;
  /* height: 630px; */
  height: 660px;
  /* border: 1px solid black; */
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  overflow-y: scroll;
  overflow-x: hidden;
}