.post-list-content-container-div {
  width: 250px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4d3d3;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  margin-left: 20px;
}

.post-list-content-top-div {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.post-list-content-bottom-div {
  width: 250px;
  height: 30px;
  display: flex;
  padding-left: 5px;
}

.post-list-content-top-div-left-div {
  width: 180px;
  height: 50px;
}

.post-list-content-top-div-left-span {
  font-size: 19px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

.post-list-content-top-div-right-div {
  width: 70px;
  height: 50px;
}

.post-list-content-top-div-right-span {
  text-align: right;
  color: gray;
  opacity: 0.7;
  font-size: 11px;
  margin-right: 10px;
}