.post-list-container-div {
  width: 300px;
  height: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
}

.post-list-menu-icon {
  width: 20px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.post-list-top-div {
  width: 250px;
  height: 160px;
  border-radius: 20px;
  margin-left: 20px;
}

.post-list-top-img {
  width: 250px;
  height: 160px;
  border-radius: 20px;
}