.create-button-div {
  position: fixed;
  /* bottom: 115px; */
  bottom: 100px;
  left: 310px;
  width: 70px;
  height: 70px;
  background-color: #ebf6ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid gainsboro;
}

.create-button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}