.post-bottom-div-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-radial-gradient(circle, 
  rgb(253, 255, 117), rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%
  );
  background-size: 10px 10px;
  line-height: 1.618em;
  padding-bottom: 20px;
}

.post-list-detail-container-div {
  display: flex;
  flex-direction: row;
  width: 390px;
  height: 250px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  margin-bottom: 50px;
}

.post-list-left-div {
  width: 85px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 20px; */
  padding-top: 10px;
}

.post-list-right-div {
  width: 300px;
  height: 250px;
}