.profile-post-frame-container {
  width: 120px;
  height: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.profile-post-frame-frame {
  width: 120px;
  height: 140px;
}

.profile-post-frame-image {
  /* width: 95px;
  height: 87px; */
  width: 100px;
  height: 100px;
  position: absolute;
  margin-bottom: 15px;
}

.profile-post-frame-title-div {
  position: absolute;
  bottom: 2%;
}

.profile-post-frame-title-span {
  font-size: 12px;
  font-weight: bold;
}