.post-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-top-div {
  width: 400px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.post-bottom-div {
  width: 400px;
  height: 480px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.post-top-div-top-div {
  width: 400px;
  height: 50px;
}
.post-top-div-bottom-div {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}