.post-detail-modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard-Regular";
  /* border: 1px solid black; */
}

.post-detail-modal-top-div {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-detail-modal-top-span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.post-detail-modal-close-button-div {
  /* width: 35px; */
  /* height: 35px; */
  border-radius: 10px;
  position: absolute;
  right: 3px;
  top: -2px;
}

.post-detail-modal-close-button {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.post-detail-modal-bottom-div {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-detail-modal-submit-button {
  margin-top: 10px;
}