.create-button-div {
  position: fixed;
  bottom: 14%;
  right: 17%;
  width: 73px;
  height: 73px;
  background-color: #ebf6ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-button {
  width: 80px;
  height: 80px;
}