.follow-button-div {
  margin-top: 20px;
  background-color: RGB(0, 123, 255);
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
}

.follow-button-span {
  font-size: 15px;
  color: white;
}